{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    
</head>

<body>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Verify OTP</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Verify OTP</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Form Begin -->
    <div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>Verify OTP</h2>
                    </div>
                </div>
            </div>
            {% if msg %}
                <b style="color:blue;">{{msg}}</b>
            {% endif %}
            <form action="{% url 'verify-otp' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <input type="hidden" name="mobile" value="{{mobile}}">
                    <input type="hidden" name="otp" value="{{otp}}">
                    <div class="col-lg-12 col-md-1">
                        <input type="text" name="uotp" placeholder="Your OTP">
                    </div>
                    <div class="col-lg-12 text-center">
                        <button type="submit" class="site-btn">Verify OTP</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Contact Form End -->

</body>

</html>
{% endblock %}